[submodule "lib/ADsafe"]
	path = lib/ADsafe
	url = git://github.com/douglascrockford/ADsafe.git
[submodule "lib/JSLint"]
	path = lib/JSLint
	url = git://github.com/douglascrockford/JSLint.git
[submodule "lib/JSON-js"]
	path = lib/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "lib/jasmine"]
	path = lib/jasmine
	url = git://github.com/pivotal/jasmine.git
